/* loading */
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    z-index: 1000;
}


/* nav */
#nav {position: absolute; left: 0; bottom: 0; width: 100%; height: 61px; z-index: 900; background-color: rgba(0,0,0,0.6);}
#nav.on {position: fixed; top: 0;}
#nav span {float: left; color: #fff; font-size: 40px; padding: 5px 5px 5px 15px; font-family: 'Abel'; text-transform: uppercase;}
#nav .menu {float: right; padding-right: 10px; }
#nav .menu li {display: inline; }
#nav .menu li a {display: inline-block; padding: 20px 15px; color: #fff; font-weight: bold; font-family: 'Abel'; text-transform: capitalize;}
#nav .menu li a:hover {padding-bottom: 4px; border-bottom: 2px dashed #fff;}

/* contents */
#contents {text-align: center; color: #fff; background: #1f233d;}
#contents > section {width: 100%;}

/* section */
#header {min-height: 100vh; background: linear-gradient(#1f233d, #0B4F6C); position: relative; text-align: center;}
#s-info {min-height: 100vh; font-family: 'Archivo Narrow', Roboto, sans-serif; font-size: 1.2em;}
#s-skills {}
#s-proj {}
#s-contact {}

/* contents container */
/* 1024px maximum with equal margin on both sides */
.container { max-width: 1024px; height: inherit; margin: 0 auto; /* background: rgba(0,0,0,0.4); */}

/* shared attributes */
h1, h2, h3, h4 {font-family: "Roboto", sans-serif;}
h3 { font-size: 3.8em; text-align: center; margin-bottom: 40px; text-transform: uppercase; font-family: 'Archivo Narrow', sans-serif; position: relative;}
h3::before {content: ''; width: 50vw; height: 2px; background: #fff; position: absolute; top: 0; left: 0;}
h3::after {content: ''; width: 50vw; height: 2px; background: #fff; position: absolute; bottom: 0; right: 0;}

/* header */
.header { position: absolute; top: 40%; transform: translate(0, -40%); width: 100%;}
.header h1 {font-family: 'Permanent Marker', cursive; font-size: 6em; color: #fcf4d1; padding-bottom: 20px;}
.header p {font-family: 'Shadows Into Light', cursive; font-size: 2.8em; color: #FFFD98; font-style: italic;}

.split span {
    opacity: 0;
    display: inline-block;
    transform: translateY(40px);
    min-width: 1vw;
    transition: all .3s;
}
.split span.show {
    transform: translateY(0);
    opacity: 1;
}

/* section: about me */
.s-info {padding-top: 100px; text-align: center; cursor: default;}
.s-info p {
    color: #fff; font-size: 1.24em; line-height: 2.4;
    transition: .3s all;
}
.s-info p:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    transform: scale(1.2);
    -webkit-transform: scale(1.2); /* IE9 */
}
.s-info p.email {font-size: 1em; line-height: 3; font-style: italic;}

/* section: skills */
.s-skills {padding: 100px 0;}
.card-wrapper {}
.card {background: #23395B; padding-top: 20px; margin-bottom: 30px;}
.card .card-title {font-size: 2.2em; font-family: Abel, serif; font-weight: bold; color: #fff; margin-bottom: 10px;}
.card .card-desc {}
.card .card-bar {width: 100%; height: 5px; margin-top: 20px; background: #000;}
.card .card-val {background: #fcf4d1; height: 100%; position: relative; width: 0; transition: all 1s;}
.card.show .card-val.p70 {width: 70%;}
.card.show .card-val.p75 {width: 75%;}
.card.show .card-val.p80 {width: 80%;}
.card.show .card-val.p85 {width: 85%;}
.card.show .card-val.p90 {width: 90%;}
.card.show .card-val.p95 {width: 95%;}
.card.show .card-val.p100 {width: 100%;}
.card .card-val-desc {position: absolute; top: 5px; right: 0; font-size: 1.04em;}


/* section: projects */
.s-proj {padding: 100px 0;}
.project {display: flex; align-items: center; width: 100%; padding: 100px 0; box-sizing: border-box; position: relative;}
.project .project-img {/* width: 60%; */ z-index: 100;}
.project .project-img img {width: 100%;}
.project .project-contents {/* width: 40%; */}
.project .project-contents .project-num {font-size: 30em; position: absolute; bottom: 120px; left: -130px; font-family: 'Archivo Narrow', sans-serif; transform: rotate(-20deg);}
.project .project-contents .project-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em; color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.project .project-contents .project-desc {
    text-align-last: center;
    line-height: 1.5;
    margin-bottom: 50px;
}
.project .project-contents .project-link {padding: 10px 40px; border: 1.4px dashed #1680ad; border-radius: 30px; transition: all .3s;}
.project .project-contents .project-link:hover {background: rgba(36, 166, 222, 0.3); border: 1.4px solid #fcf4d1;}




/* mediaquery */
/* viewport width 0 ~ 1220px */
@media (max-width: 1220px) {
	#contents .container {border: 0;}

    /* section: about me */
    .s-info p:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); /* IE9 */
    }
    
    /* section: projects */
    .s-proj .project .project-img {flex: 7; padding-left: 40px;}
    .s-proj .project .project-contents {flex: 3;}
    .s-proj .project .project-contents .project-num {left: -20px; bottom: 150px; font-size: 20em;}
    .s-proj .project .project-contents .project-title {font-size: 2.2em;}
}

/* viewport width 0 ~ 1024px */
@media (max-width: 1024px) {
    .container {width: 100%;}

    /* section: about me */
    .s-info p:hover {
        background: none;
        transform: none;
        -webkit-transform: none; /* IE9 */
    }

    /* section: projects */
    .project {display: block; padding: 0 100px;}
    .s-proj .project .project-contents .project-num {left: 100px; top: 0;}
    .s-proj .project .project-contents .project-title {border: 0; margin-bottom: 0;}
}

/* viewport width 0 ~ 960px */
@media (max-width: 960px) {}

/* viewport width 0 ~ 768px */
@media (max-width: 768px) {
    /* section: about me */
    .s-info p {font-size: 1em; line-height: 2;}

    /* section: projects */
    .s-proj .project .project-img {padding-left: 0;}
    .s-proj .project .project-contents .project-num {display: none;}
}

/* viewport width 0 ~ 600px */
@media (max-width: 600px) {
    /* nav */
    #nav span {display: none;}
    #nav .menu {float: none; display: flex; justify-content: space-evenly;}
}

/* viewport width 0 ~ 480px */
@media (max-width: 480px) {
    /* nav */
    #nav .menu li a {font-size: .8em;}

    /* section: projects */
    .project {padding: 0 40px;}
}

/* viewport width 0 ~ 320px */
@media (max-width: 320px) {
    /* section: projects */
    .project {padding: 20px;}
    .project .project-contents .project-title {padding-bottom: 20px;}
    .project .project-contents .project-desc {margin-bottom: 30px;}
}